{% load i18n movie_tags %}
<div class="search-bar w3layouts-newsletter">
    <h3 class="sear-head editContent">{% trans 'поиск фильма'|capfirst %}</h3>
    <form action="{% url 'search' %}" method="get" class="d-flex editContent">
        <input type="search" placeholder="{% trans 'введите название...'|capfirst %}" name="q" class="form-control"
               required="">
        <button type="submit" class="btn1 btn"><span class="fa fa-search" aria-hidden="true"></span></button>
    </form>
</div>
<!--preference -->
<form action="{% url 'filter' %}" method="get">
    <div class="left-side my-4">
        <h3 class="sear-head editContent">{% trans 'жанры'|capfirst %}</h3>
        <ul class="w3layouts-box-list">
            {% for genre in view.get_genres %}
                <li class="editContent">
                    <input type="checkbox" class="checked" name="genre" value="{{ genre.id }}">
                    <span class="span editContent">{{ genre }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
<!-- // preference -->
<!-- discounts -->

    <div class="left-side">
        <h3 class="sear-head editContent">{% trans 'год'|capfirst %}</h3>
        <ul class="w3layouts-box-list">
            {% for movie in view.get_years %}
                <li class="editContent">
                    <input type="checkbox" class="checked" name="year" value="{{ movie.year }}">
                    <span class="span editContent">{{ movie.year }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <button type="submit">{% trans 'найти'|capfirst %}</button>
</form>


{% get_last_movies count=2 %}